<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<p th:inline="text">acc:[[${#httpServletRequest.remoteUser}]]</p>
<form th:action="@{/user/profile}">
    <input type="submit" value="profile">
</form>
<hr>
<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/user}" >
    <input type="submit" value="get users"/>
</form>
<hr>
<div th:each="message : ${messages}">
    <p th:text = "${message.id}"></p>
    <p th:text = "${message.text}"></p>
    <p th:text = "${message.tag}"></p>
    <p th:text = "${message.authorName}"></p>
    <div th:if="${message.filename != null}">
        <img th:src="@{/img/{path}(path=${message.filename})}" alt="">
    </div>

    <form th:action="@{/delete}" method="post">
        <input type="hidden" name="id" th:value="${message.id}">
        <input type="submit" value="delete">
    </form>
</div>
<hr>
<a th:href="@{/add}">add</a>

</body>

</html>